body {
    font-family: 'lato', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.container {
    margin: 0 auto;
    width: $desktop-width-container;

    @include tablet {
        width: $tablet-width-container;
    }

    @include mobile {
        width: $mobile-width-container;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.top {
    display: flex;
    align-items: center;
    min-height: 148px;
    width: 100%;
    background-color: $smoky-pink;
    padding-left: 230px;

    &__title {
        @include font(24px, 29px);
        text-transform: uppercase;
        color: $purplish-pink;
    }

    @include tablet {
        padding-left: 16px;
    }

    @include mobile {
        padding-left: 0px;
        justify-content: center;
    }

    &_breadcrumb {
        .top__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.forms__wrapper {
    display: flex;
    justify-content: space-around;
}
