$desktop-width: 1600px;
$tablet-width: 769px;
$mobile-width: 376px;

$desktop-width-container: 71%;
$tablet-width-container: 96%;
$mobile-width-container: 96%;

$grey-pink: #F1E4E6;
$white: #FFF;
$black: #222224;
$snow-white: #FBFBFB;
$light-gray: #E1E1E1;
$purplish-pink: #F16D7F;
$black-brown: #A52A2A;
$aluminum: #9F9F9F;
$green-gray: #5D5D5D;
$carmine-pink: #FF6A6A;
$smoky-pink: #F8F3F4;
$pink-crayola: #F26376;
$ardent-pink: #EF7888;
$agate-gray: #B1B1B1;
$basalt-grey: #575757;
$smoky-white: #F5F3F3;