.filters {
    &__wrapper {
        margin: 50px 0;
    }

    &__button {
        border: none;
        @include font(14px, 17px);
        background: none;
        text-transform: uppercase;
        position: relative;

        &:before {
            content: '';
            background-image: url(../img/catalog/filter-arrow.svg);
            position: absolute;
            top: 50%;
            right: -12px;
            transform: translate(-50%, -50%);
            width: 11px;
            height: 6px;
        }

        &_filter {
            @include font(14px, 17px, 600);
            &:before {
                content: '';
                background-image: url(../img/catalog/filter-icon.svg);
                position: absolute;
                top: 40%;
                right: -20px;
                transform: translate(-50%, -50%);
                width: 15px;
                height: 10px;
            }
        }
    }

    &__list {
        display: flex;
        justify-content: start;
        align-items: start;
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: start;
        position: relative;
        margin: 0 20px 0 0;

        &_filter {
            width: 33%;
        }
    }

    &__variants {
        display: flex;
        display: none;
        position: absolute;
        flex-direction: column;
        max-width: 100px;

        margin: 0 0 20px 0;

        label {
            margin: 0 10px;
            display: flex;
            justify-content: space-between;
        }
    }
}
